html {
  height: 100%;
  width: 100vw;
}

:root {
  --blue: #082045;
  --red: #450808;
  --orange: #9e3200;
  --green: #054500;
  --purple: #3e0070;
  --grey: #919294;
}

.raleway,
body,
div,
p,
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  background-color: #082045;
}

.body {
  background: radial-gradient(circle, black, transparent);
  margin: 0%;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

.time {
  font-size: 2rem;
  font-weight: bold;
  background-color: #fff;
  color: #000000;
  border: 0.5px solid #000000;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

#type {
  font-size: 0.5em;
  opacity: 80%;
}

.now {
  color: #290404;
  animation: pulse 1s 60;
}

#in {
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  border: 0.5px solid #ffffff;
  color: #000000;
  margin: 5px;
  margin-top: 15px;
}

.scheme-selector {
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.scheme-selector:hover {
  font-weight: bold;
}

.scheme-selector svg {
  margin-right: 3px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

#scheme-selector-popup,
h1 p {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 10px;
}

#scheme-selector-popup input {
  padding: 1.5px;
}

.cancel-btn {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--red);
  color: #fff;
}

.set-scheme-btn {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--green);
  color: #fff;
}

@keyframes pulse {
  0% {
    border: 0.5px solid #ffffff;
    ;
  }

  50% {
    border: 10px solid #ffb31c;
  }

  100% {
    border: 0.5px solid #ffffff;
  }
}